$background-color: hsl(218, 23%, 16%);
$container-color: hsl(217, 19%, 24%);
$heading-color: hsl(150, 100%, 66%);
$text-color: hsl(193, 38%, 86%);
$font-weights: (
    "regular": 300,
    "medium": 500,
    "bold": 800
);